<template name="about">
  <div class="page about">
    {{> nav title='About' black=true}}

    <div class="content-scrollable">
      <div class="bg-image about">
      </div>
      <div class="description-about">
        <p>Buymziki is a new revolutionary digital platform where Artists, Producers, Labels
and Fashionistas can sell their music, ringtones, films and merchandise. The
concept behind Buymziki is unique and cannot be compared to any platform like Soundcloud or ITunes. With that said and done, what makes Buymziki unique?
</p>

<ol>
  <li>1: Signing up of the account is free.</li>

  <li>2: You have the so called "Payment" section which functions like your Bank account.
Here you get instant notifications once youhave sold your song, ringtone, film or merchandising.</li>

<li>3: Weekly payout of your sales directly toyour paypal account.</li>

<li>4: The biggest advantage of Buymziki is thetransparency of your account. Everything is
registered electronically and you cannot miss out a sale.</li>

<li>5: An integrated Social Network system to directly communicate with your followers.
The system also enable ps you to write blogs and share your content via Facebook,
Twitter, Pintrest or Google Plus.</li>

<li>6: Supported payment getways include Credit Cards, Paypal and mobile banking e.g Mpesa (via PESAPAL).</li>

<li>7: Buymziki is not our Company, this is your Company. Our concept is based on helping
artists have 100% control of their content and avoid monopoly by third parties which
provide platforms to trade their art but reap them huge percentages off their sales. An
Example is clearly illustrated in the example below: An Artist with an account at Mdundo.com gets 2,000kshs for 500 downloads. At Buymziki the same Artist will earn 50,000kshs (500*100kshs) ­ 25% (Accounting/Web Maintainance fees) = 37,500kshs. Isn't that a huge difference! On an average, artists will be making more money compared to the likes of ITunes and other known platforms. Buymziki gives you extra marketing tools to help you reach out to your audience.</li>

<li>8: Buymziki is available in 6 world most famous languages including French, German and Spanish. This is a global platform meaning Artists get global exposure. This is the 1st phase launch of Buymziki. We are working on phase 2 whereby we will launch the official "Buymziki App" for both ISOS and Android systems. This will be implemented in the coming months and our technical team is working hard on this project. Buymziki Ltd current strategies include:</li>
  <ul><li>A: We will be opening a customer care office in Nairobi.</li>

<li>B: We will be announcing internship opportunities.</li>

<li>C: We are looking in to creating job opportunities in Kenya then spread to other countries.</li>

<li>D: Nairobi is serving as our headquarters.</li>

<li>E: Targeting to sign up 100,000 artists in the next 6­12 months.</li>

<li>Log on wwww.buymziki.com today and start enjoying the benefits.</li>
  
</ul>
</ol>

<p><BR>Yours</p>

<p>Buymziki Ltd - See more at: http://buymziki.com</p>

       
    </div>

    </div>
    <a href="https://www.meteor.com" class="btn-primary js-open" target="_blank">Learn More</a>
  </div>
</template>