
<template name="artist">

  <div class="page artist {{activeTabClass}}">
    {{#nav title='artist' black=true back=true}}
      {{#if bookmarked}}
        <a href="#" class="nav-item js-remove-bookmark bookmarked"><span class="icon-bookmark"></span></a>
      {{else}}
        <a href="#" class="nav-item js-add-bookmark"><span class="icon-bookmark-hollow"></span></a>
      {{/if}}
      <a href="#" class="nav-item js-share"><span class="icon-camera"></span></a>
    {{/nav}}

    <div class="image-artist" style="background-image: url('{{artistImage artist=this size='full'}}')"></div>

    <div class="attribution-artist js-uncollapse">
      <h1 class="title-artist">{{title}}</h1>
      <div class="metadata-wrapper">
        <p class="description-artist">{{excerpt}}</p>
        <span class="source">{{source.name}}</span>
        <span class="time">{{cookTime}}</span>
      </div>

      <div class="btns-group">
        <a class="btn-secondary {{#if isActiveTab 'make'}}active{{/if}} {{#if isActiveTab 'artist'}}no-state{{/if}} js-show-artist">Bump It</a>
        <a class="btn-secondary {{#if isActiveTab 'feed'}}active{{/if}} {{#if isActiveTab 'artist'}}no-state{{/if}} js-show-feed">Photo Comment</a>
      </div>
    </div>


    <div class="content-scrollable static-nav make-scrollable">
      <a class="btn-tertiary js-share"><span class="icon-camera"></span> Post a Picture Comment</a>

      <h2 class="list-title">About the Artist</h2>
      <ul class="list-ingredients">
        {{#each ingredients}}
          <li class="item-ingredient">{{this}}</li>
        {{/each}}
      </ul>

      <h2 class="list-title">Listen</h2>


      <div class="list-songs">
        {{#each addIndex songs}}
      
        <p>
          
          <span class="ogg{{index}}"><a href="#" title="play"><img title="BuyMziki Artist Track" src="/img/activity/sound.png"></a></span><span class="ogg{{index}}_stop"><a href="#"><img title="Stop Play" src="/img/activity/stop.png"></a> <a href={{this.buylink}}><img src="/img/activity/shop.png" title="buy tracks from {{title}}"></a>  ~ Title: {{value}} </span> 
        </p>
          
        {{/each}}
      </div>
      <a href="{{source.url}}" target="_blank" class="btn-primary js-open">See full artist bio {{source.name}}</a>
    </div>

    <div class="content-scrollable static-nav feed-scrollable">
      <a class="btn-tertiary js-share"><span class="icon-camera"></span> Share your post</a>
      <div class="list-activities">
        {{#each activities}}
          {{> activity}}
        {{else}}
          <div class="wrapper-message">
            <div class="title-message">No feed activity yet</div>
            <div class="subtitle-message">Share your love for this artist. <a class="js-share">Share now</a></div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</template>
