<template name="bookmarks">
  <div class="page bookmarks">
    {{> nav title='BuyMziki player' subtext=artistCount}}

    <div class="content-scrollable">
      <div class="list-artists">
        {{#each this}}
          {{> artistItem artist=this size='large'}}
        {{else}}
          <div class="wrapper-message">
            <div class="title-message">BuyMziki</div>


            <div class="subtitle-message">Tap <span class="icon-bookmark-hollow"></span> to add your favorite songs. <a href="{{pathFor 'home'}}">Return home</a></div>

          </div>
        {{/each}}
      </div>
    </div>
  </div>
</template>
