<template name="home">
  <div class="page home">

    {{>nav title='Buy Mziki' black=true}}

    <div class="content-scrollable">
      <div class="bg-image home">
        <span class="hours"><span class="title-callout">BuyMziki </span>
        All Delicious all the time</span>
        <span class="arrow"></span>
       </div>

      <div class="callout-news">
        <span class="title-callout">News</span>
        {{latestNews.text}}
      </div>

      <h2 class="list-title">Social Feed</h2>
      <div class="list-subtitle">BuyMziki Member responses</div>
      <div class="list-activities">
    
          <div class="wrapper-message">
            <div class="title-message">Comments are being configured</div>
            <div class="subtitle-message">Your reviews will show up here.</div>
          </div>
    
      </div>
      <a href="{{pathFor 'feed'}}" class="btn-primary">BuyMziki Social Feed</a>

      <h2 class="list-title">Our Favorite Artists</h2>
      <div class="list-subtitle">Hand-picked by BuyMziki staff</div>
      <div class="list-artists">
        {{#each featuredartists}}
          {{> artistItem artist=this size='small'}}
        {{/each}}
      </div>

      <a href="{{pathFor 'artists'}}" class="btn-primary">Explore all BuyMziki Artists</a>
    </div>

  </div>
</template>
